
<mat-card>
    <mat-card-title>
        <div align="center" style="width: 100%;">
            <div class="title"> Event Details </div>
        </div>
    </mat-card-title>

    <mat-card-content>
        <div class="content-div">
          {{Game.GameType === byeGameTypeString? 'Time N/A' : Game.FormattedTime}}
        </div>
        <div class="content-div">
          {{Game.GameType === byeGameTypeString ? 'Court N/A' : Game.GameCourt}}
        </div>
        <div class="content-div">
          {{Game.GameDate.toString() | date: 'shortDate'}}
        </div>
        <div class="content-div">
            Opponent: {{Opponent}}
        </div>
      </mat-card-content>

</mat-card>

