.title {
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size:large;
}

.mat-card {
    width: 315px;
    height: 175px;
    padding: 7px;
    margin-top: 7px;
    background-color: #ffd740;
}

.mat-card-title {
    margin-bottom: 4px;
    text-align: center;
}

.mat-card-content {
    font-size: 10pt;
}

.opp-card{
    font-size: medium; 
    font-weight: bold;
}

.content-div {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 0px;
    padding-bottom: 0px;
}
