
<mat-card>

    <mat-card-title>
        <div align="center" style="width: 100%; font-weight: bold;">
            <div class="title"> Check In Board </div>
        </div>
    </mat-card-title>

    <mat-card-content style="font-variant: small-caps;">
      <div class="sub-title" style="text-align:center"> Will you be playing? </div>
    </mat-card-content>
    <mat-card-content>
      <div> Player 1 </div>
      <div> Player 2 </div>
      <div> Player 3 </div>
      <div> Player 4 </div>
      <div> Player 5 </div>
      <div> Player 6 </div>
    </mat-card-content>

</mat-card>


