.mat-icon {
    font-size: 12pt;
}

.mat-card {
    width: 65px;
    height: 110px;
    padding: 7px;
}

.mat-card-title {
    font-size: medium;
    margin-bottom: 4px;
}

.mat-card-subtitle {
    margin-bottom: 4px;
}

.mat-card-content {
    font-size: 10pt;
}

.content-div {
    margin-top: -2px;
    margin-bottom: -2px;
    padding-top: 0px;
    padding-bottom: 0px;
}