<mat-card (click)="cardClicked()">
  <mat-card-title>
    <table>
      <tr>
        <td>
          {{Day}}
        </td>
        <td>&nbsp;</td>
        <td>
          <mat-icon style="float: right;" *ngIf="Game.GameType === byeGameTypeString" aria-label="bye icon">beach_access</mat-icon>
          <mat-icon style="float: right;" *ngIf="!gamePlayed && Game.GameType !== byeGameTypeString" aria-hidden="false" aria-label="Win icon">radio_button_unchecked</mat-icon>
          <mat-icon style="float: right" *ngIf="!gameWon && gamePlayed && Game.GameType !== byeGameTypeString" style="color: red" aria-hidden="false" aria-label="Win icon">cancel</mat-icon>
          <mat-icon style="float: right;" *ngIf="gameWon && gamePlayed && Game.GameType !== byeGameTypeString" style="color: rgb(98, 235, 35);" aria-hidden="false" aria-label="Win icon">stars</mat-icon>
        </td>
      </tr>
    </table>
  </mat-card-title>
  <mat-card-subtitle>{{Game.GameType}}</mat-card-subtitle>
  <mat-card-content>
    <div class="content-div">
      {{Game.GameType === byeGameTypeString ? 'Time N/A' : Game.FormattedTime}}
    </div>
    <div class="content-div">
      {{Game.GameType === byeGameTypeString ? 'Court N/A' : Game.GameCourt}}
    </div>
    <div class="content-div">
      {{Game.GameDate.toString() | date: 'shortDate'}}
    </div>
  </mat-card-content>
</mat-card>