.container {
    width: 475px;
    height: 300px;
    margin-top: 7px;
    margin-left: 1rem;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }
  